body { font:9pt Verdana, Arial, sans serif;
       background:#e6f0fb url('blue_quote_lite_bg.jpg') no-repeat;
       margin:5 0 0 10px;
       padding:10px 12px; 
       
       }

th { padding:0 0 1px 0; }
td { padding:0 0 1px 0; }

h1,h2,h3,h4,h5,h6 { margin:0;color:#213757;clear:both; }

h1 { font-size:13pt;font-style:italic;padding:2 0 5px 0; }                 /*  Song Title  */
h2 { font-size:11pt;font-weight:normal;padding:0 0 15px 0; }               /*  Artist      */
h3 { font-size:10pt;font-weight:normal;padding:15px 10px 0 0; }            /*  Album       */
h4 { font-size:9pt;font-weight:normal;padding:0; }                         /*  Year        */
h5 { font-size:9pt;font-weight:normal;font-style:italic;padding:0; }       /*  Composer    */
h6 { font-size:8pt;font-weight:normal;padding:0 0 10px 0; }                /*              */

p  { font-size:8pt;color:#213757;margin:0;padding:0 0 3px 0; }

/* a  { color:#222; }   */

.mlyrics_lyrics_timetracked {
  color: red;
}

/* The following are "p" spare classes, which you can use as additional formating
   elements. If you don't want to use them, just use display:none to hide them. 
   Otherwise use display:block with additional parameters to give them the
   appearence you want them to have. Their position in the page are as folows:
   .header     = above the song title
   .separator1 = between song title and additional information
   .separator2 = between additional information and lyrics
   .footer     = below lyrics */

/* .header, .separator1, .separator2, .footer { display:none; }   */
   
.header, .separator1, .footer { display:none; }
   
.separator2, .separator3
   { font-size:4pt;margin:0;display:block; }
