body.mlyrics {
  color: rgb(194,192,203);
  background-color: rgb(54,52,63);
  padding: 10px;
  font-family: Helvetica, Arial, Sans;
}
h1#mlyrics_title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: #000 0px -1px 0px;
}
h2#mlyrics_artist {
  font-size: 12px;
}
h3#mlyrics_album {
  font-size: 12px;
}
p.mlyrics_lyrics {
  font-size: 11px;
}
body.mlyrics p.header,
body.mlyrics p.separator1,
body.mlyrics p.separator2 {
  display: none;
}

/* Text selection colour */
::-moz-selection {
  background-color: #000;
}
.mlyrics_lyrics_timetracked {
  font-size: 11px;
  color: coral;
}