body.mlyrics {
  color: rgb(219,219,219);
  background-color: rgb(47,43,58);
  padding: 10px;
  font-family: Ubuntu, Lucida Grande, Lucida Sans, Helvetica, Arial, Sans;
}
h1#mlyrics_title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: #000 0px -1px 0px;
}
h2#mlyrics_artist {
  font-size: 12px;
}
h3#mlyrics_album {
  font-size: 12px;
}
p.mlyrics_lyrics {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}
body.mlyrics p.header,
body.mlyrics p.separator1,
body.mlyrics p.separator2 {
  display: none;
}

/* Text selection color */
::-moz-selection {
  background-color: rgb(213,179,247);
  color: rgb(40,40,40);
}
.mlyrics_lyrics_timetracked {
  font-size: 11px;
  color: coral;
}
