body { font:9pt Verdana, Arial, sans serif;
       margin:0px;
       padding:0 0 0 8px; 

       }

table { padding:0 0 0 8px;
        }

th { padding:0px; }
td { padding:0px; }

h1,h2,h3,h4,h5,h6 { margin:0 0 0 0px;
                    color:#eeddbb;
                    clear:both; 
                    text-align: left;
                    padding:0 18 0 0px;
                    }

h1 { font-size:12pt;font-weight:bold;padding:15 18 0 0px; }      /*  Song Title  */
h2 { font-size:10pt;font-weight:normal; }                        /*  Artist      */
h3 { font-size:10pt;font-weight:normal;font-style:italic; }                        /*  Album       */
h4 { font-size:9pt;font-weight:normal; }                         /*  Year        */
h5 { font-size:9pt;font-weight:normal;font-style:italic; }       /*  Composer    */
h6 { font-size:8pt;font-weight:normal; }                         /*              */

p  { font-size:8pt;color:#99A195;margin:0;padding:0 0 0 0px; }

/* a  { color:#222; }   */

.mlyrics_lyrics_timetracked {
  color: coral;
}

/* The following are "p" spare classes, which you can use as additional formating
   elements. If you don't want to use them, just use display:none to hide them. 
   Otherwise use display:block with additional parameters to give them the
   appearence you want them to have. Their position in the page are as folows:
   .header     = above the song title
   .separator1 = between song title and additional information
   .separator2 = between additional information and lyrics
   .footer     = below lyrics */

/* .header, .separator1, .separator2, .footer { display:none; }   */
   
.header, .separator1, .footer { display:none; }
   
.separator2
   { font-size:5pt;margin:30 0 10 0px;display:block; }

.separator3
   { font-size:4pt;margin:10 20 10 0px;display:block; 
     background:url('songbird_separator.png') repeat-x;
     }

